contourpy==1.3.2
cycler==0.12.1
Deprecated==1.2.18
filelock==3.18.0
fonttools==4.57.0
fsspec==2025.3.2
Jinja2==3.1.6
kiwisolver==1.4.8
lemke @ git+https://github.com/massimilianofurlan/lemke.git@9774df4dfb67a03bcd7054b0f09eea46bca56beb
MarkupSafe==3.0.2
matplotlib==3.10.3
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.5
packaging==25.0
pillow==11.2.1
pygambit==16.3.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
scipy==1.15.3
setuptools==80.3.1
six==1.17.0
sympy==1.14.0
toml==0.10.2
torch==2.7.0
tqdm==4.67.1
typing_extensions==4.13.2
wrapt==1.17.2
